.Rochester{
    font-family: "Rochester", cursive;
  font-weight: 400;
  font-style: normal;
}
.roboto-serif{
    font-family: "Roboto Serif", serif;
  }
.top{
    font-size: .7rem;
    background-color: #181A2A;
    color: #B0ACBA;
}
.orange{
    background-color: #FE6A12;
}
.secondtop{
    margin-inline: 3rem;
}

select{
    cursor: pointer;
}
/* HOME underline */
.orange_underline {
    text-decoration-color: #FE6A12;
}
.orangecolor{
    color: #FE6A12;
}
/* hero-image */
.hero{
    height: 90vh;
    background-image: url("images/hero-img.png");
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-position: top center;
    background-size: cover;
}
.start{
    background-color: #FFECE1;
}
.startsecnd{
    background-color: #E9F6FE;
}
.startthird{
    background-color: #DFF9DF;
}
.herosection{
    position: relative;
}
.box{
    position:absolute;
    /* width: auto; */
    /* height: auto; */
    top: 90%;
    left: 35%;
    transform: translateX(-30%);

}
.pinkis{
    background-color: #F8F4F1;
}
.hei{
    height: 280px;
}
.imgsection{
    background-color: #2B2735;
}
.first{
    cursor: pointer;
}
.volunterimg{
    position: relative;
}
.detailtovolunter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/* footer */
.footer1{
    background-color: #2B2735;
}
.footer1 ul li{
    list-style: disc;
}
.footer2{
    background-color: #181A2A;
}
.grayis{
    color: #808080;
}
.menu{
    display: none;
}
.menu-links{
    display: none;
}
::-webkit-scrollbar{
    display: none;
}
.ham-menu{
    position: relative;
    display: inline-block;
}
.menu-links{
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}
.menu-links li{
    list-style: none;
}
.menu-links a{
    display: block;
    padding: .7rem;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}
.menu-links.show{
    max-height: 300px;
}

@media (max-width: 1408px) {
    .herosection{
        position: static;
    }
    .box{
        position:static;
        /* width: auto; */
        /* height: auto; */
        top: 0%;
        left: 0%;
        transform: translateX(0%);
    
    }
    .hei{
        height: 4rem;
    }
}
@media (max-width: 677px) {
    nav, .donate{
        display: none;
    }
    .donate{
        display: none;
    }
    .menu{
        display: block;
    }
    .menu-links{
        display: block;
    }
}
